# Data lake
datalake/

# Neo4j
microservicios/neo4j/data/
microservicios/neo4j/logs/
microservicios/neo4j/import/
microservicios/neo4j/plugins/

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
.venv/
venv/
.env

# Spark / PyCharm temps
artifacts/
.pytest_cache/
**/spark-*/

# PyCharm
.idea/

# System
.DS_Store
Thumbs.db

# Docker
*.pid
*.tar

