# Virtual environmnet (local)
.venv/
env/
venv/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE configurations
.idea/
.vscode/

# tests
tests/

# Git
.git/
.gitignore

# Volumes
datalake/

# Others
*.log